.posts {
  margin: calc(var(--padding-default) * 2) 0;
}
.posts .post {
  align-items: flex-end;
  width: 100%;
  margin-bottom: var(--padding-default);
  transition: 0.3s;
}
.posts .post:hover {
  translate: 0 -3px;
  box-shadow: 0 3px 10px rgba(var(--color-black), 0.2);
}
.posts .info {
  flex: 1;
  width: calc(100% - 200px);
}
.posts .info .title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--font-large);
  color: rgb(var(--gray-700));
}
.posts .info .date {
  font-size: var(--font-small);
  color: rgb(var(--gray-500));
}
.posts .btn {
  flex-shrink: 0;
}
.posts .btn.detail {
  background-color: rgb(var(--color-secondary));
}
