<header class="appHeader">
  <div class="mw inner">
    <h1>작삼</h1>
    <nav>
        <a class="link <%= pathname === '/' ? 'on' : '' %>" href="/">작성하기</a>
        <a class="link <%= pathname === '/list' ? 'on' : '' %>" href="/list">목록보기</a>
    </nav>
  </div>
</header>